:host{
    height: 100%;
    display: block;
    background-image: url("../../../assets/images/bowling-side.jpg");
    padding-top: 20px;
}

.ball{
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}