html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


// Form Field Style
label{
    margin-bottom:15px;
    position:relative;
}
input.regular{
    width:100%;
    padding:10px 0px;
    margin-top:20px;
    border:none;
    outline:none;
    border: 1px solid black;

}
input.regular::placeholder{
    opacity:0;
}
span{
    position:absolute;
    top:0;
    left:0;
    transform:translateY(30px);
    font-size:0.825em;
    transition-duration:300ms;
}

label:focus-within > span,
input.regular:not(:placeholder-shown) + span{
    color:purple;
    transform:translateY(17px);
}