.score-board {
    max-width: 900px;
    max-height: 140px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 140px;
    background-color: rgba(255, 255, 255, 0.774);
    .score-box {
        grid-column: span 1;
        border: 1px solid black;

        .first-line {
            height: 40%;
            display: flex;

            div {
                flex: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3rem;

                &.black {
                    background-color: black;
                }

                &.half-black {
                    background: rgb(2, 0, 36);
                    background: linear-gradient(
                        308deg,
                        rgba(2, 0, 36, 1) 51%,
                        rgba(255, 255, 255, 0.774) 51%,
                        rgba(255, 255, 255, 0.774) 51%
                    );
                }
            }

            div:not(:first-of-type) {
                border-bottom: 1px solid black;
                border-left: 1px solid black;
            }
        }

        .second-line {
            h2 {
                text-align: center;
                font-size: 1.9rem;
            }
        }
    }
}
